<h1>Admin</h1>

<div class="col-sm-10 col-sm-offset-1">
  <div class="alert alert-success" id="successAlert">

  </div>

    <!-- LOGIN FORM -->
    <form action="/admin/save" class="form-horizontal" id="adminForm" method="post">
      <div class="panel panel-info">
        <div class="panel-heading">Twitter</div>
        <div class="panel-body">
          <div class="form-group">
            <label for="twitter_active" class="control-label col-sm-2">Activate</label>
            <div class="col-sm-10">
              <input type="checkbox" class="form-control" id="twitter_active" name="twitter_active" value="true" {{#if param.twitterClient.twitter_active}}checked{{/if}}></input>
            </div>
          </div>

          <div class="form-group">
            <label for="twitterAccount" class="control-label col-sm-2">Account</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="twitterAccount" name="twitterAccount" value="{{param.twitterClient.account}}"></input>
            </div>
          </div>

          <div class="form-group">
            <label for="twitterTag" class="control-label col-sm-2">Tag(s)</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="twitterTag" name="twitterTag" value="{{param.twitterClient.tags}}"></input>
            </div>
          </div>

          <div class="form-group">
            <label for="twitter_consumer_key" class="control-label col-sm-2">consumer_key</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="twitter_consumer_key" name="twitter_consumer_key" value="{{param.twitterClient.consumer_key}}"></input>
            </div>
          </div>

          <div class="form-group">
            <label for="twitter_consumer_secret" class="control-label col-sm-2">consumer_secret</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="twitter_consumer_secret" name="twitter_consumer_secret" value="{{param.twitterClient.consumer_secret}}"></input>
            </div>
          </div>

          <div class="form-group">
            <label for="twitter_access_token_key" class="control-label col-sm-2">access_token_key</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="twitter_access_token_key" name="twitter_access_token_key" value="{{param.twitterClient.access_token_key}}"></input>
            </div>
          </div>

          <div class="form-group">
            <label for="twitter_access_token_secret" class="control-label col-sm-2">access_token_secret</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="twitter_access_token_secret" name="twitter_access_token_secret" value="{{param.twitterClient.access_token_secret}}"></input>
            </div>
          </div>

          <div class="form-group">
            <label for="twitter_last_scan_id" class="control-label col-sm-2">Last scan id</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="twitter_last_scan_id" name="twitter_last_scan_id" value="{{param.twitterClient.lastScanId}}"></input>
            </div>
          </div>
        </div>
      </div>
      <!-- END TWITTER -->

      <!-- BEGIN INSTAGRAM -->
      <div class="panel panel-info">
        <div class="panel-heading">Instagram</div>
        <div class="panel-body">

        </div>
      </div>
      <!-- END INSTAGRAM -->

      <!-- BEGIN VALIDATION -->
      <div class="panel panel-info">
        <div class="panel-heading">Moderator</div>
        <div class="panel-body">
          <div class="form-group">
            <label for="needValidation" class="control-label col-sm-2">Moderate</label>
            <div class="col-sm-10">
              <input type="checkbox" class="form-control" id="needValidation" name="needValidation" value="true" {{#if param.needValidation}}checked{{/if}}></input>
            </div>
          </div>
        </div>
      </div>
      <!-- BEGIN VALIDATION -->

      <!--BEGIN RENDERING -->
      <div class="panel panel-info">
        <div class="panel-heading">Rendering</div>
        <div class="panel-body">
          <div class="form-group">
            <label for="onePhotoLandscape" class="control-label col-sm-2">1 photo landscape</label>
            <div class="col-sm-10" id="onePhotoLandscape">
              <div class="row row-centered">
                <div class="col-sm-1 col-centered">
                  <input type="checkbox" class="form-control" id="onePhotoLandscapeActivated" name="onePhotoLandscapeActivated" value="true" {{#if param.render.onePhotoLandscape.active}}checked{{/if}}></input>
                </div>
                <div class="col-sm-1 col-centered">
                  <div class="column">
                    <button type="button" class="btn btn-primary" id="loadOnePhotoLandscape">load</button>
                    <button type="test" class="btn btn-warning" id="testOnePhotoLandscape">test</button>
                  </div>
                </div>
                <div class="col-sm-4 col-centered">
                  <img class="img-responsive" src='http://wallpaper-gallery.net/images/image/image-17.png'></img>
                </div>
                <div class="col-sm-6 col-centered">
                  <textarea class="form-control" rows="6" id="onePhotoLandscapeCode" name="onePhotoLandscapeCode"></textarea>
                </div>
              </div>
          </div>
          </div>
        </div>
      </div>
      <!-- END RENDERING -->
    </form>



    <button class="btn btn-warning btn-lg" id="save_button">Valider</button>

    <script>
      $("#successAlert").hide();

      $("#save_button").click(function() {
        $.post( "/admin/save", $( "#adminForm" ).serialize())
          .done(function( data ) {
            $("#successAlert").html(data);
            $("#successAlert").show();
            $('html, body').animate({ scrollTop: 0 }, 'fast');
          });
      });
    </script>
</div>
