<h1>Admin</h1>

<div class="col-sm-10 col-sm-offset-1">
  <div class="alert alert-success" id="successAlert"></div>
  <div class="alert alert-danger" id="errorAlert"></div>

    <!-- LOGIN FORM -->
    <form class="form-horizontal" id="adminForm">
      <div class="panel panel-info">
        <div class="panel-heading">Twitter</div>
        <div class="panel-body">
          <div class="form-group">
            <label for="twitter_active" class="control-label col-sm-2">Activate</label>
            <div class="col-sm-10">
              <input type="checkbox" class="form-control" id="twitter_active" name="twitter_active" value="true" {{#if param.twitterClient.twitter_active}}checked{{/if}}></input>
            </div>
          </div>

          <div class="form-group">
            <label for="twitterAccount" class="control-label col-sm-2">Account</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="twitterAccount" name="twitterAccount" value="{{param.twitterClient.account}}"></input>
            </div>
          </div>

          <div class="form-group">
            <label for="twitterTag" class="control-label col-sm-2">Tag(s)</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="twitterTag" name="twitterTag" value="{{param.twitterClient.tags}}"></input>
            </div>
          </div>

          <div class="form-group">
            <label for="twitter_consumer_key" class="control-label col-sm-2">consumer_key</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="twitter_consumer_key" name="twitter_consumer_key" value="{{param.twitterClient.consumer_key}}"></input>
            </div>
          </div>

          <div class="form-group">
            <label for="twitter_consumer_secret" class="control-label col-sm-2">consumer_secret</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="twitter_consumer_secret" name="twitter_consumer_secret" value="{{param.twitterClient.consumer_secret}}"></input>
            </div>
          </div>

          <div class="form-group">
            <label for="twitter_access_token_key" class="control-label col-sm-2">access_token_key</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="twitter_access_token_key" name="twitter_access_token_key" value="{{param.twitterClient.access_token_key}}"></input>
            </div>
          </div>

          <div class="form-group">
            <label for="twitter_access_token_secret" class="control-label col-sm-2">access_token_secret</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="twitter_access_token_secret" name="twitter_access_token_secret" value="{{param.twitterClient.access_token_secret}}"></input>
            </div>
          </div>

          <div class="form-group">
            <label for="twitter_last_scan_id" class="control-label col-sm-2">Last scan id</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="twitter_last_scan_id" name="twitter_last_scan_id" value="{{param.twitterClient.lastScanId}}"></input>
            </div>
          </div>
        </div>
      </div>
      <!-- END TWITTER -->

      <!-- BEGIN VALIDATION -->
      <div class="panel panel-info">
        <div class="panel-heading">Moderator</div>
        <div class="panel-body">
          <div class="form-group">
            <label for="needValidation" class="control-label col-sm-2">Moderate</label>
            <div class="col-sm-10">
              <input type="checkbox" class="form-control" id="needValidation" name="needValidation" value="true" {{#if param.needValidation}}checked{{/if}}></input>
            </div>
          </div>
        </div>
      </div>
      <!-- BEGIN VALIDATION -->

      <!--BEGIN RENDERING -->
      <div class="panel panel-info">
        <div class="panel-heading">Rendering</div>
        <div class="panel-body">

          <div class="form-group">
            <label for="onePhotoLandscape" class="control-label col-sm-2">1 photo landscape</label>
            <div class="col-sm-10" id="onePhotoLandscape">
              <div class="row row-centered">
                <div class="col-lg-1 col-md-4 col-centered">
                  <input type="checkbox" class="form-control" id="onePhotoLandscapeActivated" name="onePhotoLandscapeActivated" value="true" {{#if param.render.onePhotoLandscape.active}}checked{{/if}}></input>
                </div>
                <div class="col-lg-4 col-md-8 col-centered">
                  <div class="panel-group">
                    <div class="panel panel-default">
                      <div class="panel-heading">Template file</div>
                      <div class="panel-body">
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="onePhotoLandscapeFilename" name="onePhotoLandscapeFilename" value="{{param.render.onePhotoLandscape.templateFile}}" readonly></input>
                        </div>
                        <div class="col-sm-4">
                          <input type='button' class="btn btn-primary" id="onePhotoLandscapeLoadTemplate" value='load'></button>
                        </div>
                      </div>
                    </div>

                    <div class="panel panel-default">
                      <div class="panel-heading">Message Text</div>
                      <div class="panel-body">
                        <div class="col-sm-3">
                          <input type="checkbox" class="form-control" id="onePhotoLandscapeMessageTextActivated" name="onePhotoLandscapeMessageTextActivated" value="true" {{#if param.render.onePhotoLandscape.messageTextActivated}}checked{{/if}}></input>
                        </div>
                        <div class="col-sm-3">
                          <input type="text" class="form-control" id="onePhotoLandscapeMessageTextColor" name="onePhotoLandscapeMessageTextColor" value="{{param.render.onePhotoLandscape.messageTextColor}}" placeholder="#000000"></input>
                        </div>
                        <div class="col-sm-6">
                          <input type="text" class="form-control" id="onePhotoLandscapeMessageTextFont" name="onePhotoLandscapeMessageTextFont" value="{{param.render.onePhotoLandscape.messageTextFont}}" placeholder="Gabrielle"></input>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-3 col-sm-8 col-centered">
                  <img class="img-responsive small_img" id="onePhotoLandscapePreview" src="{{#if param.render.onePhotoLandscape.templateFile}}templates/{{param.render.onePhotoLandscape.templateFile}}{{/if}}"></img>
                </div>
                <div class="col-lg-4 col-sm-12 col-centered">
                  <textarea class="form-control" rows="6" id="onePhotoLandscapePositions" name="onePhotoLandscapePositions">{{json param.render.onePhotoLandscape.positions}}</textarea>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="onePhotoPortrait" class="control-label col-sm-2">1 photo portrait</label>
            <div class="col-sm-10" id="onePhotoPortrait">
              <div class="row row-centered">
                <div class="col-lg-1 col-md-4 col-centered">
                  <input type="checkbox" class="form-control" id="onePhotoPortraitActivated" name="onePhotoPortraitActivated" value="true" {{#if param.render.onePhotoPortrait.active}}checked{{/if}}></input>
                </div>
                <div class="col-lg-4 col-md-8 col-centered">
                  <div class="panel-group">
                    <div class="panel panel-default">
                      <div class="panel-heading">Template file</div>
                      <div class="panel-body">
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="onePhotoPortraitFilename" name="onePhotoPortraitFilename" value="{{param.render.onePhotoPortrait.templateFile}}" readonly></input>
                        </div>
                        <div class="col-sm-4">
                          <input type='button' class="btn btn-primary" id="onePhotoPortraitLoadTemplate" value='load'></button>
                        </div>
                      </div>
                    </div>

                    <div class="panel panel-default">
                      <div class="panel-heading">Message Text</div>
                      <div class="panel-body">
                        <div class="col-sm-3">
                          <input type="checkbox" class="form-control" id="onePhotoPortraitMessageTextActivated" name="onePhotoPortraitMessageTextActivated" value="true" {{#if param.render.onePhotoPortrait.messageTextActivated}}checked{{/if}}></input>
                        </div>
                        <div class="col-sm-3">
                          <input type="text" class="form-control" id="onePhotoPortraitMessageTextColor" name="onePhotoPortraitMessageTextColor" value="{{param.render.onePhotoPortrait.messageTextColor}}" placeholder="#000000"></input>
                        </div>
                        <div class="col-sm-6">
                          <input type="text" class="form-control" id="onePhotoPortraitMessageTextFont" name="onePhotoPortraitMessageTextFont" value="{{param.render.onePhotoPortrait.messageTextFont}}" placeholder="Gabrielle"></input>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-8 col-centered">
                  <img class="img-responsive small_img" id="onePhotoPortraitPreview" src="{{#if param.render.onePhotoPortrait.templateFile}}templates/{{param.render.onePhotoPortrait.templateFile}}{{/if}}"></img>
                </div>
                <div class="col-lg-4 col-sm-12 col-centered">
                  <textarea class="form-control" rows="6" id="onePhotoPortraitPositions" name="onePhotoPortraitPositions">{{json param.render.onePhotoPortrait.positions}}</textarea>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="twoPhotos" class="control-label col-sm-2">2 photos</label>
            <div class="col-sm-10" id="twoPhotos">
              <div class="row row-centered">
                <div class="col-lg-1 col-md-4 col-centered">
                  <input type="checkbox" class="form-control" id="twoPhotosActivated" name="twoPhotosActivated" value="true" {{#if param.render.twoPhotos.active}}checked{{/if}}></input>
                </div>
                <div class="col-lg-4 col-md-8 col-centered">
                  <div class="panel-group">
                    <div class="panel panel-default">
                      <div class="panel-heading">Template file</div>
                      <div class="panel-body">
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="twoPhotosFilename" name="twoPhotosFilename" value="{{param.render.twoPhotos.templateFile}}" readonly></input>
                        </div>
                        <div class="col-sm-4">
                          <input type='button' class="btn btn-primary" id="twoPhotosLoadTemplate" value='load'></button>
                        </div>
                      </div>
                    </div>

                    <div class="panel panel-default">
                      <div class="panel-heading">Message Text</div>
                      <div class="panel-body">
                        <div class="col-sm-3">
                          <input type="checkbox" class="form-control" id="twoPhotosMessageTextActivated" name="twoPhotosMessageTextActivated" value="true" {{#if param.render.twoPhotos.messageTextActivated}}checked{{/if}}></input>
                        </div>
                        <div class="col-sm-3">
                          <input type="text" class="form-control" id="twoPhotosMessageTextColor" name="twoPhotosMessageTextColor" value="{{param.render.twoPhotos.messageTextColor}}" placeholder="#000000"></input>
                        </div>
                        <div class="col-sm-6">
                          <input type="text" class="form-control" id="twoPhotosMessageTextFont" name="twoPhotosMessageTextFont" value="{{param.render.twoPhotos.messageTextFont}}" placeholder="Gabrielle"></input>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-8 col-centered">
                  <img class="img-responsive small_img" id="twoPhotosPreview" src="{{#if param.render.twoPhotos.templateFile}}templates/{{param.render.twoPhotos.templateFile}}{{/if}}"></img>
                </div>
                <div class="col-lg-4 col-sm-12 col-centered">
                  <textarea class="form-control" rows="6" id="twoPhotosPositions" name="twoPhotosPositions">{{json param.render.twoPhotos.positions}}</textarea>
                </div>
              </div>
            </div>
          </div>


        <div class="form-group">
          <label for="threePhotos" class="control-label col-sm-2">3 photos</label>
          <div class="col-sm-10" id="threePhotos">
            <div class="row row-centered">
              <div class="col-lg-1 col-md-4 col-centered">
                <input type="checkbox" class="form-control" id="threePhotosActivated" name="threePhotosActivated" value="true" {{#if param.render.threePhotos.active}}checked{{/if}}></input>
              </div>
              <div class="col-lg-4 col-md-8 col-centered">
                <div class="panel-group">
                  <div class="panel panel-default">
                    <div class="panel-heading">Template file</div>
                    <div class="panel-body">
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="threePhotosFilename" name="threePhotosFilename" value="{{param.render.threePhotos.templateFile}}" readonly></input>
                      </div>
                      <div class="col-sm-4">
                        <input type='button' class="btn btn-primary" id="threePhotosLoadTemplate" value='load'></button>
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">Message Text</div>
                    <div class="panel-body">
                      <div class="col-sm-3">
                        <input type="checkbox" class="form-control" id="threePhotosMessageTextActivated" name="threePhotosMessageTextActivated" value="true" {{#if param.render.threePhotos.messageTextActivated}}checked{{/if}}></input>
                      </div>
                      <div class="col-sm-3">
                        <input type="text" class="form-control" id="threePhotosMessageTextColor" name="threePhotosMessageTextColor" value="{{param.render.threePhotos.messageTextColor}}" placeholder="#000000"></input>
                      </div>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" id="threePhotosMessageTextFont" name="threePhotosMessageTextFont" value="{{param.render.threePhotos.messageTextFont}}" placeholder="Gabrielle"></input>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-8 col-centered">
                <img class="img-responsive small_img" id="threePhotosPreview" src="{{#if param.render.threePhotos.templateFile}}templates/{{param.render.threePhotos.templateFile}}{{/if}}"></img>
              </div>
              <div class="col-lg-4 col-sm-12 col-centered">
                <textarea class="form-control" rows="6" id="threePhotosPositions" name="threePhotosPositions">{{json param.render.threePhotos.positions}}</textarea>
              </div>
            </div>
          </div>
        </div>


          <div class="form-group">
            <label for="fourPhotos" class="control-label col-sm-2">4 photos</label>
            <div class="col-sm-10" id="fourPhotos">
              <div class="row row-centered">
                <div class="col-lg-1 col-md-4 col-centered">
                  <input type="checkbox" class="form-control" id="fourPhotosActivated" name="fourPhotosActivated" value="true" {{#if param.render.fourPhotos.active}}checked{{/if}}></input>
                </div>
                <div class="col-lg-4 col-md-8 col-centered">
                  <div class="panel-group">
                    <div class="panel panel-default">
                      <div class="panel-heading">Template file</div>
                      <div class="panel-body">
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="fourPhotosFilename" name="fourPhotosFilename" value="{{param.render.fourPhotos.templateFile}}" readonly></input>
                        </div>
                        <div class="col-sm-4">
                          <input type='button' class="btn btn-primary" id="fourPhotosLoadTemplate" value='load'></button>
                        </div>
                      </div>
                    </div>

                    <div class="panel panel-default">
                      <div class="panel-heading">Message Text</div>
                      <div class="panel-body">
                        <div class="col-sm-3">
                          <input type="checkbox" class="form-control" id="fourPhotosMessageTextActivated" name="fourPhotosMessageTextActivated" value="true" {{#if param.render.fourPhotos.messageTextActivated}}checked{{/if}}></input>
                        </div>
                        <div class="col-sm-3">
                          <input type="text" class="form-control" id="fourPhotosMessageTextColor" name="fourPhotosMessageTextColor" value="{{param.render.fourPhotos.messageTextColor}}" placeholder="#000000"></input>
                        </div>
                        <div class="col-sm-6">
                          <input type="text" class="form-control" id="fourPhotosMessageTextFont" name="fourPhotosMessageTextFont" value="{{param.render.fourPhotos.messageTextFont}}" placeholder="Gabrielle"></input>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-8 col-centered">
                  <img class="img-responsive small_img" id="fourPhotosPreview" src="{{#if param.render.fourPhotos.templateFile}}templates/{{param.render.fourPhotos.templateFile}}{{/if}}"></img>
                </div>
                <div class="col-lg-4 col-sm-12 col-centered">
                  <textarea class="form-control" rows="6" id="fourPhotosPositions" name="fourPhotosPositions">{{json param.render.fourPhotos.positions}}</textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END RENDERING -->

      <!-- BEGIN SCREEN -->

      <div>
        <div class="panel panel-info">
          <div class="panel-heading">Photo Screen</div>
          <div class="panel-body">
            <div class="form-group">
              <label for="screenMediaType" class="control-label col-sm-2">Media</label>
              <div class="radio">
                <label class="radio-inline"><input type="radio" name="screenMediaType" value="image" {{#if (eq param.photoScreen.mediaType "image")}}checked="true"{{/if}}>Image</label>
                <label class="radio-inline"><input type="radio" name="screenMediaType" value="video" {{#if (eq param.photoScreen.mediaType "video")}}checked="true"{{/if}}>Video</label>
              </div>
            </div>
            <div class="form-group">
              <label for="screenMediaFile" class="control-label col-sm-2">Media</label>
              <div class="col-sm-3 col-centered">
                <div class="column" id="screenMediaFile">
                  <input type='button' class="btn btn-primary" id="screenMediaLoad" value='load'></input>
                  <input type="text" class="form-control" id="screenMediaFilename" name="screenMediaFilename" value="{{param.photoScreen.mediaFile}}" readonly></input>
                </div>
              </div>
              <div class="col-sm-4 col-centered">
                <img class="img-responsive small_img" id="screenMediaPreviewImg" src="medias/{{param.photoScreen.mediaFile}}"></img>
                <video controls class="small_img" id="screenMediaPreviewVid" src="medias/{{param.photoScreen.mediaFile}}"></video>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- END SCREEN -->

      <!-- GALLERY -->

      <div>
        <div class="panel panel-info">
          <div class="panel-heading">Print</div>
          <div class="panel-body">
              <table class="table table-striped col-sm-12">
                <thead>
                  <tr>
                    <th>Photo Type</th>
                    <th>Number</th>
                    <th>Size</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Final Result</td>
                    <td>{{photos.final.nb}}</td>
                    <td>{{photos.final.size}} Mb</td>
                  </tr>
                  <tr>
                    <td>Deleted</td>
                    <td>{{photos.deleted.nb}}</td>
                    <td>{{photos.deleted.size}} Mb</td>
                  </tr>
                  <tr>
                    <td>Single Social</td>
                    <td>{{photos.singleSocial.nb}}</td>
                    <td>{{photos.singleSocial.size}} Mb</td>
                  </tr>
                  <tr>
                    <td>Single Camera</td>
                    <td>{{photos.singleCamera.nb}}</td>
                    <td>{{photos.singleCamera.size}} Mb</td>
                  </tr>
                  <tr>
                    <td>Single Camera Pi</td>
                    <td>{{photos.singleCameraPi.nb}}</td>
                    <td>{{photos.singleCameraPi.size}} Mb</td>
                  </tr>
                </tbody>
              </table>
              <input type='button' class="btn btn-primary" id="downloadGallery" value='Download'></input>
              <input type='button' class="btn btn-primary" id="cleanGallery" value='Clean'></input>
          </div>
        </div>
      </div>


      <!-- END GALLERY -->

      <!-- PRINTER -->
      <div>
        <div class="panel panel-info">
          <div class="panel-heading">Print</div>
          <div class="panel-body">
            <div class="form-group">
              <label for="print_active" class="control-label col-sm-2">Activate</label>
              <div class="col-sm-10">
                <input type="checkbox" class="form-control" id="print_active" name="print_active" value="true" {{#if param.printer.active}}checked{{/if}}></input>
              </div>
            </div>
            <div class="form-group">
              <label for="printPaper" class="control-label col-sm-2">Paper</label>
              <div class="col-sm-3 col-centered">
                <div class="column" id="printPaper">
                  <!-- <input type='button' class="btn btn-primary" id="printPaperUpdate" value='Update paper'></button> -->
                  <input type="text" class="form-control" id="printPaperInput" name="printPaper" value="{{param.printer.currentPaper}}" readonly></input>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="maxPrint" class="control-label col-sm-2">Max Print</label>
              <div class="col-sm-3 col-centered">
                <div class="column" id="maxPrint">
                  <input type="text" class="form-control" id="maxPrintInput" name="maxPrintInput" value="{{param.printer.maxPrint}}"></input> (0 for unlimited print)
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="currentNbPrint" class="control-label col-sm-2">Current Print</label>
              <div class="col-sm-3 col-centered">
                <div class="column" id="currentNbPrint">
                  <input type='button' class="btn btn-primary" id="currentNbPrintReset" value='Reset'></button>
                  <input type="text" class="form-control" id="currentNbPrintInput" name="currentNbPrintInput" value="{{param.printer.currentNbPrint}}" readonly></input>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="cleanPrintQueue" class="control-label col-sm-2">Print Jobs</label>
              <div class="col-sm-3 col-centered">
                <div class="column" id="cleanPrintQueue">
                  <input type='button' class="btn btn-primary" id="cleanPrintQueueButton" value='Clean'></button>
                  <input type="text" class="form-control" id="cleanPrintQueue" name="cleanPrintQueue" value="{{printQueueSize}}" readonly></input> <!-- TODO add value with current nb print job -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- END PRINTER -->

      <!-- CAMERA TOSHIBA FlashAir -->
      <div>
        <div class="panel panel-info">
          <div class="panel-heading">Camera</div>
          <div class="panel-body">
            <div class="form-group">
              <label for="cameraActive" class="control-label col-sm-2">Activate</label>
              <div class="col-sm-10">
                <input type="checkbox" class="form-control" id="cameraActive" name="cameraActive" value="true" {{#if param.camera.active}}checked{{/if}}></input>
              </div>
            </div>
            <div class="form-group">
              <label for="cameraDirectPrint" class="control-label col-sm-2">Direct print</label>
              <div class="col-sm-10">
                <input type="checkbox" class="form-control" id="cameraDirectPrint" name="cameraDirectPrint" value="true" {{#if param.camera.directPrint}}checked{{/if}}></input>
              </div>
            </div>
            <div class="form-group">
              <label for="cameraIP" class="control-label col-sm-2">Camera IP</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="cameraIP" name="cameraIP" value="{{param.camera.ip}}"></input>
              </div>
            </div>
            <div class="form-group">
              <label for="cameraDCIM" class="control-label col-sm-2">DCIM Path</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="cameraDCIM" name="cameraDCIM" value="{{param.camera.dcim}}"></input>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END EYEFI -->
    </form>

    <input type="file" id="onePhotoLandscapeLoadTemplateFileInput" style="visibility:hidden"/>
    <input type="file" id="onePhotoPortraitLoadTemplateFileInput" style="visibility:hidden"/>
    <input type="file" id="twoPhotosLoadTemplateFileInput" style="visibility:hidden"/>
    <input type="file" id="threePhotosLoadTemplateFileInput" style="visibility:hidden"/>
    <input type="file" id="fourPhotosLoadTemplateFileInput" style="visibility:hidden"/>
    <input type="file" id="screenMediaTypeFileInput" style="visibility:hidden"/>

    <button class="btn btn-warning btn-lg" id="save_button">Valider</button>

    <script>
      {{#if (eq param.photoScreen.mediaType "image")}}
      $("#screenMediaPreviewVid").hide();
      {{else}}
      $("#screenMediaPreviewImg").hide();
      {{/if}}
      $( "#successAlert" ).hide();
      $( "#errorAlert" ).hide();

      $("#downloadGallery").click(function() {
        $.fileDownload("/admin/downloadGallery")
          .done(function () { alert('File download a success!'); })
          .fail(function () { alert('File download failed!'); });
      });

      $("#cleanGallery").confirmation({
        rootSelector: '#cleanGallery',
        title:"Sure to clean ?",
        onConfirm: function() {
          $.get( "/admin/cleanGallery", function(data) {
            location.reload();
          });
        }
      });

      $("#save_button").click(function() {
        $.post( "/admin/save", $( "#adminForm" ).serialize())
          .done(function( data ) {
            showSuccessMessage(data);
          });
      });

      $("#cleanPrintQueueButton").click(function() {
        $.post( "/admin/cleanPrint", $( "#adminForm" ).serialize())
          .done(function( data ) {
            location.reload();
          });
      });

      $("#onePhotoLandscapeMessageTextColor").spectrum({
        preferredFormat: "hex",
          showInput: true
      });

      $("#onePhotoPortraitMessageTextColor").spectrum({
          showInput: true,
          preferredFormat: "hex"
      });

      $("#twoPhotosMessageTextColor").spectrum({
        preferredFormat: "hex",
          showInput: true
      });

      $("#threePhotosMessageTextColor").spectrum({
        preferredFormat: "hex",
          showInput: true
      });

      $("#fourPhotosMessageTextColor").spectrum({
        preferredFormat: "hex",
          showInput: true
      });

      $("#onePhotoLandscapeLoadTemplate").click(function() {
        $("#onePhotoLandscapeLoadTemplateFileInput").click();
      });

      $("#onePhotoPortraitLoadTemplate").click(function() {
        $("#onePhotoPortraitLoadTemplateFileInput").click();
      });

      $("#twoPhotosLoadTemplate").click(function() {
        $("#twoPhotosLoadTemplateFileInput").click();
      });

      $("#threePhotosLoadTemplate").click(function() {
        $("#threePhotosLoadTemplateFileInput").click();
      });

      $("#fourPhotosLoadTemplate").click(function() {
        $("#fourPhotosLoadTemplateFileInput").click();
      });

      $("#screenMediaLoad").click(function() {
        $("#screenMediaTypeFileInput").click();
      })

      $("#currentNbPrintReset").click(function() {
        $("#currentNbPrintInput").val(0);
      })

      $('#onePhotoLandscapeLoadTemplateFileInput').on('change', function(){
        uploadTemplate($(this), 'oneLandscape');
      });

      $('#onePhotoPortraitLoadTemplateFileInput').on('change', function(){
        uploadTemplate($(this), 'onePortrait');
      });

      $('#twoPhotosLoadTemplateFileInput').on('change', function(){
        uploadTemplate($(this), 'two');
      });

      $('#threePhotosLoadTemplateFileInput').on('change', function(){
        uploadTemplate($(this), 'three');
      });

      $('#fourPhotosLoadTemplateFileInput').on('change', function(){
        uploadTemplate($(this), 'four');
      });

      $('#screenMediaTypeFileInput').on('change', function(){
        var files = $(this).get(0).files;
        if (files.length > 0) {
          var file = files[0];
          var formData = new FormData();
          formData.append('screenMediaFile', file, file.name);
          $.ajax({
            url: '/admin/uploadScreenMedia',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: (data) => {
              $("#screenMediaFilename").attr("value", data);
              $('#screenMediaPreviewImg').attr("src","medias/" + data);
              $('#screenMediaPreviewVid').attr("src","medias/" + data);
            },
            error: function(xhr, status, error) {
              showErrorMessage(error);
            }
          })
        }
      });

      $('input[type=radio][name=screenMediaType]').change(function() {
        if (this.value == 'image') {
          $('#screenMediaPreviewImg').show();
          $('#screenMediaPreviewVid').hide();
        } else {
          $('#screenMediaPreviewImg').hide();
          $('#screenMediaPreviewVid').show();
        }
    });

      function uploadTemplate(fileInput, templateType) {
        var files = fileInput.get(0).files;
        if (files.length > 0){
          var file = files[0];
          var formData = new FormData();
          formData.append('uploads', file, file.name);
          formData.append('templateType',  templateType);
          $.ajax({
            url: '/admin/uploadTemplate',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function(data) {
                if (templateType == 'oneLandscape') {
                  $('#onePhotoLandscapePreview').attr("src","templates/" + data);
                  $('#onePhotoLandscapeFilename').attr("value", data);
                }
                if (templateType == 'onePortrait') {
                  $('#onePhotoPortraitPreview').attr("src","templates/" + data);
                  $('#onePhotoPortraitFilename').attr("value", data);
                }
                if (templateType == 'two') {
                  $('#twoPhotosPreview').attr("src","templates/" + data);
                  $('#twoPhotosFilename').attr("value", data);
                }
                if (templateType == 'three') {
                  $('#threePhotosPreview').attr("src","templates/" + data);
                  $('#threePhotosFilename').attr("value", data);
                }
                if (templateType == 'four') {
                  $('#fourPhotosPreview').attr("src","templates/" + data);
                  $('#fourPhotosFilename').attr("value", data);
                }
            },
            error: function(xhr, status, error) {
              showErrorMessage(error);
            }
          });
        }
      }

      function showSuccessMessage(message) {
        $( "#errorAlert" ).hide();
        $("#successAlert").html(message);
        $("#successAlert").show();
        $('html, body').animate({ scrollTop: 0 }, 'fast');
      }

      function showErrorMessage(message) {
        $("#successAlert").hide();
        $("#errorAlert").html(message);
        $("#errorAlert").show();
        $('html, body').animate({ scrollTop: 0 }, 'fast');
      }
    </script>
</div>
