<div id="wrapper">
  <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
          <li><a href="#" id="galleryButton"><i class="fa fa-picture-o fa-4x" aria-hidden="true"></i></a></li>
          <li><a href="#" id="cameraButton"><i class="fa fa-camera-retro fa-4x" aria-hidden="true"></i></a></li>
      </ul>
  </div>

  <div id="page-content-wrapper">
    <div class="page-content">
      <div class="container-fluid">
        <div class="gallery col-sm-12" id="gallery">
          {{#each photos}}
            <div class="gallery-item container col-sm-4 col-md-3 col-lg-2 text-center">
              <img src="/photos/result/{{this}}?height=250" basicsrc="{{this}}" class="img-responsive photoGallery"></img>
            </div>
          {{/each}}
        </div>

        <div class="gallery col-sm-12" id="camera">
          <div class="col-sm-12" id="cameraBody">
            <div id="cameraMessage">

            </div>
            <div id="cameraResult" class="col-sm-12">
              <div id="cameraResultSelected" class="col-sm-3">
                  <img class="img-responsive cameraResultSelectedImg" id="cameraResultSelected1" src="">
                  <img class="img-responsive cameraResultSelectedImg" id="cameraResultSelected2" src="">
                  <img class="img-responsive cameraResultSelectedImg" id="cameraResultSelected3" src="">
                  <img class="img-responsive cameraResultSelectedImg" id="cameraResultSelected4" src="">
              </div>

              <div id="cameraResultTemplate" class="col-sm-7">
                <img class="img-responsive" id="cameraResultTemplateImg" src=""></img>
              </div>

              <div id="cameraResultControl" class="col-sm-2">
                <ul class="sidebar-nav">
                    <li><a href="#" id="cleanButton"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-eraser fa-stack-1x fa-inverse"></i></span></a></li>
                    <li><a href="#" id="printButton"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-print fa-stack-1x fa-inverse"></i></span></a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-sm-12" id="cameraMenu">
            <nav class="navbar navbar-inverse navbar-fixed-bottom">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <ul class="horizontal-slide" id="cameraPhotoThumb">
                      {{#each camera}}
                          <li class="col-md-3 col-lg-2 cameraPhoto profile-img-container">
                            <img class="img-responsive cameraPreview" src="/photos/single/camera/{{this}}?height=150" basicsrc="{{this}}"/>
                            <a href="#" class="cameraSelectedItem"><span class="fa fa-check-circle fa-5x"></span></a>
                          </li>
                      {{/each}}
                    </ul>
                  </div>
                </div>
              </div>
            </nav>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>



<div id="photoModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <div id="photoResultDivGallery" class="text-center">
                <img class='img-responsive' id="photoResult" basicsrc="" src=""></img>
              </div>
            </div>
            <div class="modal-footer">
              <div class="row">
                <div class="col-xs-2 col-xs-offset-2" id="buttonViewPhoto">
                  <span class="fa-stack fa-3x">
                    <i class="fa fa-square fa-stack-2x icon-background5"></i>
                    <i class="fa fa-eye fa-inverse fa-stack-1x"></i>
                  </span>
                </div>
                <div class="col-xs-offset-1 col-xs-2" id="buttonPrintPhoto">
                  <span class="fa-stack fa-3x">
                    <i class="fa fa-square fa-stack-2x icon-background5"></i>
                    <i class="fa fa-print fa-inverse fa-stack-1x"></i>
                  </span>
                </div>
                <div class="col-xs-offset-1 col-xs-2" id="buttonDeletePhoto">
                  <span class="fa-stack fa-3x">
                    <i class="fa fa-square fa-stack-2x icon-background5"></i>
                    <i class="fa fa-trash fa-inverse fa-stack-1x"></i>
                  </span>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

<div id="alertModal" class="modal fade">
  <div class="modal-dialog modal-sm">
      <div class="modal-content">
          <div class="modal-header modal-header-success">
            <h3>Message</h3>
          </div>
          <div class="modal-body">
            <h3 id="alertMessage"></h3>
          </div>
          <div class="modal-footer" hidden="true"></div>
      </div>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/scripts/gallery.js"></script>
<script src="/scripts/camera.js"></script>
<script>

$('body').css({
	'cursor' : 'none'
});

var serverUrl = window.location.protocol + '//' + window.location.host + "/gallery"

var iogallery = io.connect(serverUrl);

iogallery.on('addPhoto', function(data) {
  addPhoto(data);
});

iogallery.on('addCameraPhoto', function(data) {
  addPhotoCamera(data);
});

var param = JSON.parse("{{jsonLinear param}}".replace(/&quot;/g,'"'));

$("head").append("<link href='css/gallery.css' rel='stylesheet'>");

$( document ).ready(function() {
  $('body').css('background-image', "url('/img/gallery_background.jpg')");

{{#ifCond param.camera.active "&&!" param.camera.directPrint}}
  showLeftMenu();
  hidePhoto();
  updateNbAllowedSelected();
  updateCameraPreview();
{{else}}
  hideLeftMenu();
  hidePhoto();
{{/ifCond}}

  $('#galleryButton').click(function(e) {
    e.preventDefault();
    showGallery();
  });

  $('#cameraButton').click(function(e) {
    e.preventDefault();
    showCamera();
  });

  $('#cleanButton').click(function(e) {
    e.preventDefault();
    cleanCamera();
  });

  $('#printButton').click(function(e) {
    e.preventDefault();
    printCamera();
  });

  //Click on each photo
  $('.photoGallery').click(function(event) {
    $("#photoResult").attr('src', "/photos/result/" + event.target.attributes.basicsrc.nodeValue);
    $("#photoResult").attr('basicsrc', event.target.attributes.basicsrc.nodeValue);
    $("#photoModal").modal('show');
  });

  //click on viewPhoto
  $('#buttonViewPhoto').click(function(event) {
    var photoSrc = $('#photoResult').attr('basicSrc');
    viewPhoto(photoSrc);
  });

  //click on printPhoto
  $('#buttonPrintPhoto').click(function(event) {
    var photoSrc = $('#photoResult').attr('basicSrc');
    printPhoto(photoSrc);
  });

  //click on delete
  $('#buttonDeletePhoto').click(function(event) {
    var photoSrc = $('#photoResult').attr('basicSrc');
    deletePhoto(photoSrc);
  });

  //Twitter message
  {{#if param.twitterClient.twitter_active}}
    function showTwitterMessage() {
    $.notify(
        {
          message:'<h3>Envoyez vos photos par <strong>tweeter</strong> à {{param.twitterClient.account}} {{param.twitterClient.tags}}</h3>',
          icon: 'fa fa-3x fa-twitter'
        }, {
          delay: 5000,
          animate: {
            enter: 'animated lightSpeedIn',
            exit: 'animated lightSpeedOut'
          }
        }
      );
    }

    showTwitterMessage();
    setInterval(function() {
      showTwitterMessage();
    }, 30000);
  {{/if}}

  updateCameraPhotoClick();
});


</script>
